{% extends 'base.html.twig' %}

{% block body %}
<div class="form">
<h3>Отправьте нам Ваши персональные данные</h3>
    {{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_row(form.name,{'attr':{'pattern':'^[А-ЯЁA-Z][а-яёa-z]+ [А-ЯЁA-Z][а-яёa-z]+$','title':'Пожалуйста напишите фамилию и имя с заглавной буквы через пробел по английски или на русском'}}) }}
	{{ form_row(form.age,{'attr':{'min':17,'max':65}}) }}
	{{ form_row(form.actDate,{'attr':{'pattern': '^[0-3][1-9][-\.\/][0-1][1-9][-\.\/][1-2][0,9][0-9][0-9]','title':'Дата должна быть в формате DD/MM/YYYY или DD.MM.YYYY или DD-MM-YYYY'}}) }}
	{{ form_row(form.file) }}
	{{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
<style>
	body{
	margin: 0 0 0 0;
	}
	h3 {
	text-align: center;
	}
    .form {
	position: absolute;
	top: 40%;
	left: 40%;
	border: 1px solid black;
	width: 350px;
	padding: 5px;
	background-color: lightgrey;
	}
	#submit {
	margin-top: 5px;
	}
	input {
	margin: 5px;

	}
	input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="file"]	{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
    }
	 input:focus{
  background-color: #eef;
     }
	input[type="text"]{
	width: 250px;
	}
     
    
</style>
{% endblock %}
